.container{
    width: 1200px;
    background-color: aliceblue;
    height:400px;
    display: flex;
    flex-direction: column;
}
#Me{
    color:red;
}
.left-part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
